@model UserViewModel
@{
    ViewData["Title"] = "Details";
}

<h1>User Details</h1>
<br />
<br />
<div class="form-group">
    <partial name="PartialViews/DetailDeletePartialView" />

    <div class="mt-4">
        <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-warning">Edit</a>
        <a asp-action="Index" class="btn btn-secondary">Back to List</a>
    </div>
</div>



